html, body {
    margin: 0;
    box-sizing: border-box;
}

.bg-hero {
    background: url('./images/hero-bg.svg');
    background-size: cover;
    background-position-x: center;
}

.bg-form {
    background: #EDF4FF;
}

.bg-service {
    background: url('./images/service-bg.svg');
    background-size: cover;
}

.bg-adventure {
    background: url('./images/adventure-bg.svg');
    background-size: cover;
}

.form-shadow {
    box-shadow: 5px 4px 4px 0px #458FF64D;
}

.btn-book {
    color: #458FF6;
    font-weight: bold;
}

.rounded-25 {
    border-radius: 25px;
}

.testimonial {
    background: linear-gradient(202.92deg, #67C3F3 32.26%, #5A98F2 81.17%);
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    border: none;
    color: white;
}

.ratings {
    color: yellow;
}

.radius-10 {
    border-radius: 10px;
}

.btn-primary {
    background-color: #458FF6;
}

.text-blue {
    color: #458FF6;
}

footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%), url('./images/dot.svg');
    color: white;
    background-size: cover;
}